<!DOCTYPE HTML5>
<html>
  <head>
    <meta charset="utf-8">
    <title>Alicia's blog</title>
   <link href="/css.css" type="text/stylesheet" rel="stylesheet">
  </head>
  <body>
    <div class="link">
    <h1>ALICIA CHUNG</h1><Br><Br><Br>
       <a href="/">Home</a><Br> 
      <a href="/about.html">關於我</a><Br>	
      <a href="http://instagram.com/aliciachung1115/">Instagram</a><br>
        <a href="https://github.com/chilinchung">GitHub</a>
      </div>

      

        <article>
        	<div class="articletitle">
        		{{page.title}}
        	</div>
        	{{content}}
   	 	</article>

	<p class="footer">
		all rights reserved
	</p>

  </body>
</html>
